.Plans-container{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin-top: -1 2rem;
    gap: 4rem;
    position: relative;
}
.Heading{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    gap: 5rem;
    padding-left: 17rem;
}
.plans{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}
.plan{
    display: flex;
    flex-direction: column;
    background: var(--caloryCard);
    color: white;
    gap: 2rem;
    padding: 2rem;
    width: 20rem;
}
.plan:nth-child(2){
    background: var(--planCard);
    transform: scale(1.18);
}
.plan>svg{
    color: var(--planCard);
    width: 2rem;
    height: 2rem;
}
.plan>:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
}
.plan>:nth-child(3){
    font-size: 3rem;
    font-weight: bold;
}
.plan>:nth-child(4){
    font-size: 1.2rem;
}
.plan>:nth-child(5){
    font-size: 0.8rem;
}
.feature{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.feature>img{
    width: 1rem;
}
 .plans-blur-1{
    width: 33rem;
    height: 23rem;
    left: 0;
    top: 6rem;
}
.plans-blur-2{
    width: 33rem;
    height: 23rem;
    right: 0;
    top: 6rem;
}
